#basic-navbar-nav {
  padding-left: 20px;

}

.mr-auto {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Flexbox rules */
#basic-navbar-nav {
  display: flex;
  align-items: center;
  text-align: center;
  width: 90vw;
  margin: 10px 5vw;
  height: 60px;
  position: relative;
}

.submenu {
  background-color: #262a32;
  width: 80vw;
  left: 0;
  text-align: left;
  display: flex;
  justify-content: space-around;
}

.submenu-item {
  color: white;
  padding: 15px;
  font-weight: 800;
}
.submenu-top {
  display: flex;
  justify-content: space-around;
}

/* Submenu general styling */
.submenu li {
  padding-left: 0;
}

.submenu-item {
  color:white;
  max-width: 33.333%;
}
